{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Quiz Initial
{% endblock page_title %}

{% block main_content %}

{% load static %}


<section class="content">
   <a href="{%url 'checkface'%}">  <button class="btn btn-primary float-right mb-5">Check You</button></a>
      <div class="container-fluid d-flex justify-content-center btn btn-secondary">
          <h1> <a href="{%url 'studentfaceauthen'%}"> To start quiz kindly  authenticate first by clicking here </a> </h1>
      </div>
</section>

{% endblock main_content %}